<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Manager Dashboard</title>
</head>

<body>
	<button id="button1" routerLink="/add-customers">Add Customers</button>

	<button id="button2" routerLink="/all-customers">All Customers</button>
	
    <button id="button3" routerLink="/edit-customers">Update Customers</button>
	
	<button id="button4" routerLink="/add-accounts">New Account</button>
	
	<button id="button5" routerLink="/edit-accounts">Edit Account</button>
	
	<button id="button6" routerLink="/delete-accounts">Delete Account</button>
	
	<button id="button7" routerLink="/deposit">Deposit</button> 
	
	<button id="button8" routerLink="/withdraw">Withdraw</button>
	
	<button id="button9" routerLink="/fund-transfer">Fund Transfer</button>
	
	<!-- <button>Change Password</button> -->
	
	<button id="button10" routerLink="/manager-balance">Balance Enquiry </button>
	
	<button id="button11" routerLink="/mini-statement">Mini Statement</button>
	
	<br><br><br>
   <br><br><br>
   <br><br><br>
   <br><br><br>
    

</body>
</html>